<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact page</title>
</head>
<body>
  <h2>welcome the contact page</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi hic explicabo dolore autem perferendis maxime? Soluta quibusdam cum rerum temporibus minima doloremque laborum, sunt obcaecati iure magni sed, modi sit! </p>
</body>
</html>