<%- include('partiels/head')%>
  <h2>welcome the contact page</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi hic explicabo dolore autem perferendis maxime? Soluta quibusdam cum rerum temporibus minima doloremque laborum, sunt obcaecati iure magni sed, modi sit! </p>
<%- include('partiels/footer')%>