<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to the home page </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et doloremque, recusandae aliquam ullam suscipit obcaecati mollitia nihil vitae? Vero quo assumenda delectus autem tempore nihil, optio quibusdam vel deserunt minima.
  Delectus ex dolor, quo tenetur quisquam quae omnis assumenda odit quidem vitae. Corporis neque fugit corrupti nulla quia pariatur alias possimus, quibusdam voluptates voluptatibus incidunt explicabo illo, est ullam dolore.
  Nemo, blanditiis. Tenetur error culpa eius ut minima et unde perspiciatis nam distinctio fuga veritatis, pariatur iure doloribus dolorum cupiditate voluptatem adipisci? Iure dolorem porro, quam a iste enim facilis.</p>
</body>
</html>