<%- include('partiels/head')%>
  <h1>welcome to the pricing page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, veritatis, deserunt rem hic, iusto cum quod voluptatum aperiam odio totam inventore. Praesentium ullam mollitia adipisci pariatur quis itaque? Deleniti, ullam!
  Accusamus perspiciatis, tempora iure culpa quidem nesciunt ratione id dolor ad alias harum dolorum molestiae quasi placeat voluptates voluptatibus magnam officia sunt cupiditate vel amet! Totam ipsum doloribus eos dicta?
  Labore ipsam quibusdam velit similique delectus. Praesentium earum labore at expedita iure, architecto dolorum ea enim, optio eos veniam iusto dolores voluptatem. Impedit fuga deleniti iure error tenetur soluta doloribus?
  Blanditiis id rerum quam soluta optio sit similique maxime, laborum cum repellat deserunt architecto et iure, voluptas repudiandae in facilis? Asperiores ex dolores beatae accusantium, assumenda quo molestiae similique aperiam?
  Nesciunt corrupti, voluptatum deserunt sint nisi ad illo obcaecati quos dolor quaerat minus accusantium quia nam eos dolores, blanditiis voluptates animi esse libero cumque. Aut alias est quisquam ab. Voluptatum.</p>
  <%- include('partiels/footer')%>